@import url("https://fonts.googleapis.com/css?family=Amaranth|Dancing+Script");
body {
	/* opacity: 0.9; */
	font-family: sans-serif;	
	background: url("../images/background.jpg");
	background-size: 100%;
	color: #F5F5F5;
    
}

 .form-control {
    background-color: #3f3f3f;
    border: 1px solid #777777;
}

/* change the background color */
.navbar-custom {
    background-color: rgb(39, 39, 39);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

.navbar-custom .nav-item.active,
.navbar-custom .nav-item:focus,
.navbar-custom .nav-item:hover {
    color: #7c7c7c;
}



/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #eeeeee;
}
.nav-link {
    font-size: 14px;
}
.nav-item {
    width: 117px;
    
}

.navbar-brand {
	padding: 0px; /* firefox bug fix */
  }
  .navbar-brand>img {
	height: 5%;
	padding: 1px; /* firefox bug fix */
	width: 6%;
  }

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eeeeee;
  }
  #search-button {
      margin-top: 8px;
  }
  .flex-item {
    width: 200px;
    text-align: center;
  }


 /* Grid & list styles */

 .posters-container {
	 width: 85%;
	 margin: auto;
 }

 /* .shadow {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
	transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
 }
 .shadow:hover {
	  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
	}

  .shadow-nohover {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
	transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  } */
  

 /* .ul li {
	
	 background: #424242;
 } */

 .toggle {
	padding: 1em;
	text-align: right;
  }
  .toggle p {
	font-weight: bold;
	font-weight: 600;
	color: #7f8c8d;
	line-height: 1.6em;
  }
  .toggle a {
	display: inline-block;
	color: #bdc3c7;
	font-size: 1.6em;
	text-decoration: none;
	vertical-align: middle;
  }
  .toggle a.on {
	color: #f39c12;
  }
  .toggle a i.fa-bars {
	/* align icons */
	transform: translateY(-1px);
  }
  
  ul li {
	padding: 0.5em;
	color: #34495e;
	border-radius: 0.3rem;
  }
  /* .card {
	background-color: #424242;
	
  }
  .card:hover {
	transform: scale(0.9, 0.9);
	box-shadow: -5px -5px 30px 15px rgba(0,0,0,0.25), 
	  5px 5px 30px 15px rgba(0,0,0,0.22);
	  
  } */

  /* .card {
	padding: 15px; /* JUST TO LOOK COOL */
	/* border: 1px solid #eee;  /* JUST TO LOOK COOL */
	/* box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
	transition: all .3s ease-in-out;
  }   */
  
  /* .card:hover {
	box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
	transform: translate3d(0px, -1px, 0px);
  } */

  ul li a {
	display: block;
	height: 100%;
	padding: 1em;
	/* background: #ecf0f1; */
	/* color: #34495e; */
	text-decoration: none;
  }
  ul li a h2 {
	font-family: 'Montserrat', arial,  sans-serif;
	font-size: 1.4em;
	font-weight: 700;
	letter-spacing: -0.03em;
	margin-bottom: 0.5em;
  }
  ul li a p {
	color: #7f8c8d;
	font-family: 'Noto Serif', serif;
	font-weight: bold;
	font-weight: 700;
	font-style: italic;
	line-height: 1.2em;
  }
  ul.grid {
	display: flex;
	flex-wrap: wrap;
  }
  ul.grid li {
	flex-grow: 1;
	width: calc(100% / 3);
	width: 32%;
	margin: 5px;
  }
  ul.list {
	display: block;
  }
  ul.list li {
	width: 100%;
	margin-bottom: 5px;

  }
  /* flip card */

  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
	background-color: #424242;
	display: flex;
	border: 1px solid #f1f1f1;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.5s;
	transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }


  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
	background-color: #bbb;
	color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
	background-color: #979797;;
	color: white;
	transform: rotateY(180deg);
  }
  




  /* The fast, new way! */
.fast-transition {
	background-color: #424242;
	padding: 10px;
	position: relative; /* For positioning the pseudo-element */
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  .fast-transition::before {
	/* Position the pseudo-element. */
	content: ' ';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  
	/* Create the box shadow at expanded size. */
	box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
  
	/* Hidden by default. */
	opacity: 0;
	transition: opacity 500ms;
  }
  
  .fast-transition:hover::before {
	/* Show the pseudo-element on hover. */
	opacity: 1;
  }




  /* new card unikat */


  .wrapper {
	width: 350px;
	height: 450px;
	background-color: #3a3a3a;
	margin: auto;
	position: relative;
	overflow: hidden;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0;
	transform: scale(0.95);
	transition: box-shadow 0.5s, transform 0.5s;
  }
  .wrapper:hover {
	transform: scale(1);
	box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  }
  .wrapper .container {
	padding: 15px;
	width: 100%;
	height: 100%;
  }
  .wrapper .container .top {
	height: 80%;
	width: 100%;
	background: url(https://s-media-cache-ak0.pinimg.com/736x/49/80/6f/49806f3f1c7483093855ebca1b8ae2c4.jpg) no-repeat center center;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
  }
  .wrapper .container .bottom {
	border-top: 1px solid #272727;
	background: #636363;
	color: rgb(209, 209, 209);
	width: 100%;
	height: 20%;
	transition: transform 0.5s;
  }
  /* .wrapper .container .bottom.clicked {
	transform: translateX(-50%);
  } */
  .wrapper .container .bottom h1 {
	margin: 0;
	padding: 0;
  }
  .wrapper .container .bottom p {
	margin: 0;
	padding: 0;
  }
  .wrapper .container .bottom .left {
	height: 100%;
	width: 100%;
	/* background: #f4f4f4; */
	position: relative;
	/* float: left; */
  }
  .wrapper .container .bottom .left .details {
	padding: 10px;
	/* float: left; */
	/* width: calc(70% - 40px); */
	width: 100%;
  }
  /* .wrapper .container .bottom .left .buy {
	float: right;
	width: calc(30% - 2px);
	height: 100%;
	background: #f1f1f1;
	transition: background 0.5s;
	border-left: solid thin rgba(0, 0, 0, 0.1);
  } */
  /* .wrapper .container .bottom .left .buy i {
	font-size: 30px;
	padding: 30px;
	color: #254053;
	transition: transform 0.5s;
  } */
  /* .wrapper .container .bottom .left .buy:hover {
	background: #A6CDDE;
  }
  .wrapper .container .bottom .left .buy:hover i {
	transform: translateY(5px);
	color: #00394B;
  } */
  /* .wrapper .container .bottom .right {
	width: 50%;
	background: #A6CDDE;
	color: white;
	float: right;
	height: 200%;
	overflow: hidden;
  }
  .wrapper .container .bottom .right .details {
	padding: 20px;
	float: right;
	width: calc(70% - 40px);
  }
  .wrapper .container .bottom .right .done {
	width: calc(30% - 2px);
	float: left;
	transition: transform 0.5s;
	border-right: solid thin rgba(255, 255, 255, 0.3);
	height: 50%;
  }
  .wrapper .container .bottom .right .done i {
	font-size: 30px;
	padding: 30px;
	color: white;
  }
  .wrapper .container .bottom .right .remove {
	width: calc(30% - 1px);
	clear: both;
	border-right: solid thin rgba(255, 255, 255, 0.3);
	height: 50%;
	background: #BC3B59;
	transition: transform 0.5s, background 0.5s;
  }
  .wrapper .container .bottom .right .remove:hover {
	background: #9B2847;
  }
  .wrapper .container .bottom .right .remove:hover i {
	transform: translateY(5px);
  }
  .wrapper .container .bottom .right .remove i {
	transition: transform 0.5s;
	font-size: 30px;
	padding: 30px;
	color: white;
  }
  .wrapper .container .bottom .right:hover .remove, .wrapper .container .bottom .right:hover .done {
	transform: translateY(-100%);
  } */
  .wrapper .inside {
	z-index: 9;
	background: rgb(48, 48, 48);
	width: 140px;
	height: 140px;
	position: absolute;
	top: -70px;
	right: -70px;
	border-radius: 0px 0px 200px 200px;
	transition: all 0.5s, border-radius 2s, top 1s;
	overflow: hidden;
  }
  .wrapper .inside .icon {
	position: absolute;
	right: 85px;
	top: 85px;
	color: white;
	opacity: 1;
  }
  .wrapper .inside:hover {
	opacity: 0.5;
	width: 100%;
	right: 0;
	top: 0;
	border-radius: 0;
	height: 80%;
  }
  .wrapper .inside:hover .icon {
	opacity: 0;
	right: 15px;
	top: 15px;
  }
  .wrapper .inside:hover .contents {
	opacity: 1;
	transform: scale(1);
	transform: translateY(0);
  }
  .wrapper .inside .contents {
	padding: 5%;
	opacity: 0;
	transform: scale(0.5);
	transform: translateY(-200%);
	transition: opacity s, transform 0.8s;
  }
  .wrapper .inside .contents table {
	text-align: center;
	width: 100%;
  }
  .wrapper .inside .contents h1, .wrapper .inside .contents p, .wrapper .inside .contents table {
	color: white;
  }
  .wrapper .inside .contents p {
	font-size: 13px;
  }
  




