body {
	/* opacity: 0.9;= */
	font-family: sans-serif;
	background: url("../images/background-dark.jpg");
	background-size: 100%;
	color: #F5F5F5;
}

.form-control {
	background-color: #3f3f3f;
	border: 1px solid #777777;
}

.input-group {
	width: 20%;
}

.dropdown-menu {
	max-height: 200px;
 }
 

.nav-container {
	box-shadow: 1px 10px 15px 1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px 10px 15px 1px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 1px 10px 15px 1px rgba(0, 0, 0, 0.75);
}

/* change the background color */

.navbar-custom {
	background-color: rgb(39, 39, 39);
}

.navbar-custom .navbar-nav .nav-link {
	color: rgba(255, 255, 255, .5);
}

/* change the color of active or hovered links */

.navbar-custom .nav-item.active .nav-link, .navbar-custom .nav-item:focus .nav-link, .navbar-custom .nav-item:hover .nav-link {
	color: #eeeeee;
}

.nav-link {
	font-size: 14px;
}

.nav-item {
	width: 117px;
}

.navbar-brand {
	padding: 0px;
	/* firefox bug fix */
}

.navbar-brand>img {
	height: 5%;
	padding: 1px;
	/* firefox bug fix */
	width: 6%;
}

.hidden {
	display: none !important;
}

#search-button {
	background: rgb(245, 197, 24);
	border-color: black;
	color: black;
}


/* Grid & list styles */

.posters-container {
	width: 80%;
	margin: auto;
}

.toggle {
	display: none;
	padding: 1em;
	text-align: right;
}

.toggle p {
	font-weight: bold;
	font-weight: 600;
	color: #7f8c8d;
	line-height: 1.6em;
}

.toggle a {
	display: inline-block;
	color: #bdc3c7;
	font-size: 1.6em;
	text-decoration: none;
	vertical-align: middle;
}

.toggle a.on {
	color: #f39c12;
}

.toggle a i.fa-bars {
	/* align icons */
	transform: translateY(-1px);
}

ul li {
	list-style-type: none;
	padding: 0.5em;
	color: #34495e;
}

ul li a {
	display: block;
	height: 100%;
	text-decoration: none;
}

ul.grid {
	display: flex;
	flex-wrap: wrap;
}

ul.grid li {
	flex-grow: 1;
	width: calc(100% / 3);
	width: 32%;
	margin: 5px;
}

ul.list {
	display: block;
}

ul.list li {
	width: 100%;
	margin-bottom: 5px;
}

/* card unikat brat :)*/

.wrapper {
	width: 300px;
	height: 490px;
	/* background-color: #3a3a3a; */
	margin: auto;
	position: relative;
	overflow: hidden;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0;
	transform: scale(0.90);
	transition: box-shadow 0.5s, transform 0.5s;
}

.wrapper:hover {
	transform: scale(1);
	box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.wrapper .container {
	/* padding-right: 0px;
	padding-bottom: 10px; */
	padding: 10px;
	width: 100%;
	height: 100%;
	
}

.wrapper .container .top {
	height: 80%;
	width: 100%;
	box-shadow: 1px 9px 11px 4px rgba(0, 0, 0, 0.75);
   -webkit-box-shadow: 0px -3px 17px 3px rgba(0,0,0,0.72);
   -moz-box-shadow: 0px -3px 17px 3px rgba(0,0,0,0.72);
}

.wrapper .container .top img {
	height: 100%;
	width: 100%;
}

.wrapper .container .bottom {
	/* border-top: 1px solid #272727; */
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: #131313;
	color: rgb(209, 209, 209);
	width: 100%;
	height: 20%;
	transition: transform 0.5s;
	box-shadow: 1px 9px 11px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 9px 11px 4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 9px 11px 4px rgba(0, 0, 0, 0.75);
}

.details {
	text-align: center;
	padding: 10px;
}

.wrapper .container .bottom h5 {
	padding-top: 10px;
	overflow: hidden;
	color: #fff;
}

.wrapper .container .bottom span {
	width: 100%;
}

.wrapper .inside {
	z-index: 9;
	background: rgb(20, 20, 20);
	width: 120px;
	height: 140px;
	position: absolute;
	top: -70px;
	right: -70px;
	border-radius: 0px 0px 200px 200px;
	transition: all 0.5s, border-radius 2s, top 1s;
	overflow: hidden;
}

.wrapper .inside .icon {
	position: absolute;
	right: 85px;
	top: 85px;
	color: white;
	opacity: 1;
}

.wrapper .inside:hover {
	margin-right: 10px;
	margin-top: 6px;
	opacity: 0.9;
	width: 93%;
	right: 0;
	top: 0;
	border-radius: 0;
	height: 78%;
}

.wrapper .inside:hover .icon {
	opacity: 0;
	right: 10px;
	top: 10px;
}

.wrapper .inside:hover .contents {
	opacity: 1;
	transform: scale(1);
	transform: translateY(0);
}

.wrapper .inside .contents {
	padding: 5%;
	opacity: 0;
	transform: scale(0.5);
	transform: translateY(-200%);
	transition: opacity s, transform 0.8s;
}

.wrapper .inside .contents table {
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

.wrapper .inside .contents h1, .wrapper .inside .contents p, .wrapper .inside .contents table {
	color: white;
}

.wrapper .inside .contents p {
	font-size: 11px;
}

.imdbRatingStyle {
	background-color: #000;
	font-size: 15px;
	color: #fff;
	padding: 2px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
}

.rating {
	margin-left: 4px;
	margin-top: 10px;
}

.imdbRatingStyle img {
	padding: 3px;
}

.ofTen {
	color: #ccc;
	font-size: 12px;
}

.tr-head {
	background: #202020;
	padding: 10px;
}

.overview {
	text-align: center;
}

.card {
 width: 23rem;
 height: 20rem;
}

.card-text {
	font-size: 14px;
}
.p-Year {
	padding-bottom: 5px;
}

.card-header {
	background-color: rgb(17, 17, 17);
}

.card-body {
	background-color: rgb(31, 31, 31);
}